html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.btn {
  display: inline-block;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.btn-block {
  width: 100%; }

.btn-lg {
  font-size: 28px; }

.btn-primary {
  color: #fff !important;
  background-color: #F58D8E;
  border-color: #F58D8E;
  text-decoration: none; }
  .btn-primary:hover {
    color: #fff;
    background-color: #F58D8E;
    border-color: #F58D8E;
    box-shadow: 0 0 20px #888; }
  .btn-primary:active {
    color: #fff;
    background-image: none;
    background-color: #F58D8E;
    border-color: #F58D8E; }

#layers {
  display: none; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #layers {
      display: none; } }
  @media screen and (min-width: 1024px) {
    #layers {
      display: block;
      min-width: 250px;
      z-index: 400;
      position: absolute;
      top: 50px;
      left: 50px;
      background: #fff;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
      border: 1px solid #D4D8DA;
      font-family: 'Varela Round', sans-serif; }
      #layers .logo {
        text-align: center;
        background: #fff;
        padding: 15px;
        border-bottom: 1px solid #D4D8DA; }
      #layers .logo img {
        width: 100px;
        height: auto; }
      #layers .title {
        color: #55585A;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin: 10px 0;
        margin-top: 20px; }
      #layers .layers-form {
        background: #EDEFEC;
        padding: 15px; }
      #layers .layer-checkboxes {
        color: #55585A;
        margin-bottom: 20px; }
      #layers .layer-checkboxes input[type="checkbox"] {
        margin: 15px 10px 0 15px; } }

.search-form {
  position: absolute;
  top: 172px;
  text-align: center;
  width: 100%; }

.search {
  width: 90%;
  height: 30px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 1px solid #D4D8DA;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out; }
  .search:focus {
    width: calc(100% - 10px);
    outline: none;
    border-radius: 0;
    border-right: 0;
    border-left: 0; }

.search[placeholder] {
  font-family: 'FontAwesome', 'Open Sans';
  padding-left: 10px;
  color: #55585A; }

.list-unstyled {
  list-style: none;
  padding: 0; }

.list-inline li {
  padding-left: 0;
  list-style: none;
  margin-left: 5px;
  display: inline-block; }

#map {
  height: 100vh;
  width: 100vw; }
  #map .leaflet-marker-icon {
    width: 50px;
    height: 50px;
    transition: all .2s ease-in-out; }
    #map .leaflet-marker-icon:hover {
      width: 75px;
      height: 75px; }
  #map .custom .leaflet-popup-content-wrapper {
    width: 350px;
    box-shadow: 0 2px 4px #000;
    border-radius: 2px; }
    #map .custom .leaflet-popup-content-wrapper .leaflet-popup-content {
      margin: 15px; }
    #map .custom .leaflet-popup-content-wrapper .name {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #F58D8E;
      text-transform: uppercase; }
    #map .custom .leaflet-popup-content-wrapper .layer-list {
      font-family: "Varela Round", sans-serif;
      font-size: 14px;
      color: #F58D8E;
      list-style: none;
      margin-bottom: 15px; }
    #map .custom .leaflet-popup-content-wrapper .paragraph {
      font-family: "Varela Round", sans-serif;
      font-size: 14px;
      color: #55585A; }
    #map .custom .leaflet-popup-content-wrapper .details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px; }
    #map .custom .leaflet-popup-content-wrapper .hashtag {
      font-family: "Varela Round", sans-serif;
      font-size: 12px;
      color: #F58D8E;
      text-decoration: none; }
      #map .custom .leaflet-popup-content-wrapper .hashtag:hover {
        text-decoration: underline; }
