/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

#website {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

#header {
    padding-top: 100px;
    padding-bottom: 100px;
}

#content {
    padding-top: 10px;
    padding-bottom: 20px;
}


p {
  font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
}







@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
}

.ppmap {
	width: 350px;
	height: 350px;
	background-color: #333333;
}
