#map {
  height: 100vh;
  width: 100vw;
  .leaflet-marker-icon {
    width: 50px;
    height: 50px;
    transition: all .2s ease-in-out;
    &:hover {
      width: 75px;
      height: 75px;
    }
  }
  .custom .leaflet-popup-content-wrapper {
    width: 300px;
    box-shadow: 0 2px 4px #000;
    border-radius: 2px;
    padding: 0px;
    .leaflet-popup-content {
      margin: 0px;
    }
    .unverified {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 20px;
      background-color: #FFFFFF;
      padding: 3px 5px 1px 5px;
      color: $name-color;
      font-size: $name-font-size;
      font-weight: bold;
      border-radius: 0px 2px 0px 5px;;
    }
    .popupData {
      padding: 12px;
    }
    .name {
      font-family: $name-font-family;
      font-size: $name-font-size;
      color: $name-color;
      text-transform: uppercase;
      margin-top: 0px;
    }
    .layer-list {
      font-family: $layer-list-font-family;
      font-size: $layer-list-font-size;
      color: $layer-list-color;
      list-style: none;
      margin-bottom: 15px;
    }

    .paragraph {
      font-family: $paragraph-font-family;
      font-size: $paragraph-font-size;
      color: $paragraph-color;
    }
    .details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

    }
    .hashtag {
      font-family: $hashtag-font-family;
      font-size: $hashtag-font-size;
      color: $hashtag-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
