// Colors
$primary-color: #F58D8E;
$text-color: #55585A;

$layers: $text-color;
$layers-cb-selected: $primary-color;
$layers-cb-hover: $primary-color;
$layers-border-color: #D4D8DA;

$paragraph: $text-color;

$hashtag: $primary-color;
