.btn {
  display: inline-block;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn-block {
  width: 100%;
}
.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    box-shadow: 0 0 20px #888;
  }
  &:active {
    color: #fff;
    background-image: none;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
