#interaction_form {
  display: none;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #FF0000;
  background: #f2f6f9;
  font-family: 'Varela Round', sans-serif;
  color: $text-color;

  .close {
    position: absolute;
    top: 25px;
    right: 90px;
    font-size: 4em;
    color: $layers;
    cursor: default;
    &:hover {
      font-size: 4.1em;
    }
    &:active {
      font-size: 3.9em;
    }
  }
  .title{
    
  }
  .subtitle{
    margin-bottom: 30px;    
  }
  .form{
    width:590px;
    margin: auto;
  }
  .label{
  }
  .number{
    color: $primary-color;
    margin-right: 7px;
  }
  input, textarea{
    display: block;
    width: 98%;
    margin-top: 15px;
  }
  textarea{
    resize: none;
    height: 70px;
  }
  .pagger{
    text-align: center;
  }
  .controls{
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .btn{
      margin: 20px 15px 0px 15px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  input[type="checkbox"] {
    display:inline;
    margin-right: 10px;
    width: auto !important;
  }
  .formLogIn{
    #result{
      color: red;
    }
    input{
      margin-top: 5px;
    }
    label{
      margin-top: 15px;
    }
    #resulta{
     display:none;
    }
  }
  #btnLogIn{
    margin: 0 0 20px 0;
  }
  a{
    display: block;
    color: $text-color;
    text-decoration: none;
    text-align: center;
  }
  #coord_options{
    li{
      cursor: pointer;
    }
  }
  #coordinates{
    cursor: pointer;
  }
  .bool{
    label{
      display: block;

      input[type="radio"] {
        display:inline;
        margin-right: 10px;
        width: auto !important;
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        -ms-appearance: checkbox;
      }
    }
  }
  .catalog{
    margin-top: 15px;
    .cont{
      content: "";
      clear: both;
      display: table;
      width: 100%;
    }
    .btn{
      float: left;
      clear: left;
      padding: 10px;
      color: $text_color !important;
      border: 1px solid $layers-border-color !important;
      background-color: #FFF;
      text-decoration: none;
      margin-bottom: 5px;
      &:hover {
        color: $layers-border-color !important;
      }
    }
    .selected{
      border-color: $primary-color !important;
      color: $primary-color !important;
      &:hover {
        color: $primary-color !important;
      }
    }
    .desc{
      float:right;
      width:70%;
    }
  }
  .photos{
    margin-top: 15px;
    label.imgUpload{
      margin: 10px;
      display: inline-block;
      position: relative;
      width: 170px;
      height: 170px;
      border: 2px solid $layers-border-color;
      border-radius: 10px;
      overflow: hidden;
      background-color: #FFFFFF;
      img{
        max-width: 350px;
        max-height: 180px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      input{
        display: none;
      }
    }
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    .logo img {
      width: 100px;
      height: auto;
    }
    .title {
      color: $layers;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      margin: 10px 0;
      margin-top: 20px;
    }
    .subtitle {
      color: $layers;
      text-align: center;
      margin: 10px 0;
      margin-bottom: 30px;
    }
    .layers-form{
      background: #EDEFEC;
      padding: 15px;
    }
    .layer-checkboxes {
      color: $layers;
      margin-bottom: 20px;
    }
    .layer-checkboxes input[type="checkbox"] {
      margin: 15px 10px 0 15px;
    }
  }
}
