#layers {
  min-width: 250px;
  z-index: 400;
  position: absolute;
  top: 50px;
  left: 50px;
  background: #fff;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.50);
  border: 1px solid $layers-border-color;
  font-family: 'Varela Round', sans-serif;
  .logo {
    text-align: center;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid $layers-border-color;
  }
  .logo img {
    width: 100px;
    height: auto;
  }
  .title {
    color: $layers;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    margin-top: 20px;
  }
  .layers-form{
    background: #EDEFEC;
    padding: 15px;
  }
  .layer-checkboxes {
    color: $layers;
    margin-bottom: 20px;
  }
  .layer-checkboxes input[type="checkbox"] {
    margin: 15px 10px 0 15px;
  }
}
