// Colors
$primary-color: #F58D8E;
$secondary-color: #7DBBD2;
$text-color: #55585A;
$background-color-primary: #FFFFFF;
$background-color-secondary: #EDEFEC;
$border-color: #D4D8DA;

// Fonts
$title-font: 'Varela Round', Arial, sans-serif;
$font: 'Open Sans', Arial, sans-serif;