.btn {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
  padding: .5rem 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  background-color: $background-color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #888;
  }
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
}

.btn + .btn {
  margin-left: 10px;
}

.btn-cta {
  display: none;
}

@include breakpoint {
  .btn-cta {
    display: block;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    width: 30%;
    min-width: 100px;
  }
}