.checkbox {
  position: relative;
  margin-bottom: 5px;
}

.checkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid $border-color;
}

.checkbox label:after {
  content: '';
  width: 23px;
  height: 10px;
  position: absolute;
  top: -3px;
  left: 3px;
  border: 3px solid $primary-color;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox input[type=checkbox] {
  visibility: hidden;
}

.checkbox input[type=checkbox]:checked+label:after {
  opacity: 1;
}
