.info {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 40px;
    &:hover {
        cursor: pointer;
    }
}

.info__box {
    opacity: 0;
    width: 420px;
    position: fixed;
    text-align: center;
    top: 62px;
    right: 10px;
    background: #fff;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.50);
    top: 100px;
    right: 50px;
    padding: 2em;
    transition: opacity .2s;
    z-index: 1000;
}

.info__box:after {
    bottom: 100%;
    left: 100%;
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -28px;
}

.info__box-visible {
    opacity: 1;
}

@include breakpoint {
    .info {
        display: none;
    }
}