html, body, .map {
  height: 100%;
}

.map {
  .marker-cluster {
    position: absolute;

    .cluster-count {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }
  }
}
