.panel {
  display: block;
  min-width: 250px;
  z-index: 400;
  position: absolute;
  top: 50px;
  left: 50px;
  background: $background-color-primary;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.50);
  border: 1px solid $border-color;
  text-align: center;
}

.panel__section {
  padding: 20px;
  border-bottom: 1px solid $border-color;
}

.panel__section:last-of-type {
  border: none;
}

.logo {
  width: 100px;
  height: auto;
}

.panel__title {
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}

.panel__form {
  background: $background-color-secondary;
  padding: 20px;
  border-bottom: 1px solid $border-color;
}

.panel__checkbox-item {
  display: block;
}

.panel__list {
  padding: 0;
  text-align: left;
}

.panel__checkbox-icon {
  background-image: url('../img/map-sprite.png');
  width: 30px;
  height: 30px;
  background-size: 63px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 8px;
}

.panel__checkbox-text {
  font-weight: 300;
  display: inline;
}

.panel__checkbox-icon-workshop {
  background-position-y: 2px;
}

.panel__checkbox-icon-machine {
  background-position-y: -26px;
}

.panel__checkbox-icon-started {
  background-position-y: -59px;
}

.panel__checkbox:checked ~ .panel__checkbox-icon {
  background-position-x: 30px;
}

.panel__checkbox:checked ~ .panel__checkbox-text {
  color: $primary-color;
}

.panel__button {
  margin: 20px 0px 0px 0px;
  width: 100%;
}

@include breakpoint {
  .panel__form,
  .panel__section:first-of-type,
  .panel__section:last-of-type,
  .panel__title {
    display: none;
  }

  .panel {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    box-shadow: none;
    border-radius: 5px;
    border: none;
  }

  .panel__form-open {
    .panel__form {
      display: block;
      border-radius: 5px;
      border: none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    }

    .panel__list {
      margin-top: 25px;
    }
  }
}
