.popup {
    max-width: 300px;
}

.popup__text {
    padding: 0 20px;
}

.popup__filters {
    list-style: none;
}

.popup__header, 
.popup__filter {
    font-family: $title-font;
    color: $primary-color;
}

.popup__website {
    color: $text-color;
}

.popup__status {
    font-weight: 400;
}

.popup__column {
    width: 49%;
    display: inline-block;
    vertical-align: bottom;
}

.popup__column-right {
    text-align: right;
}

.popup__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: $secondary-color;
    font-family: $title-font;
    margin-top: 1em;
}

.popup__filter {
    margin-bottom: 5px;
}

.popup__filtericon {
    background-image: url('../img/filter-icon-sprite.png');
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-size: auto 20px;
    display: inline-block;
    background-position: right;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

//Google markup is awful and has no classes, forcing these styles to be super ugly.
//Nth-child is used to hopefully prevent these styles from affecting other things.
.gm-style-iw {
    top: 0px !important;
    left: 0px !important;
}

//Close button layer
.gm-style-iw + div {
    width: 30px !important;
    height: 30px !important;
    left: 265px;
    color: #fff;
    text-shadow: 2px 2px 5px #000000;
    opacity: 1 !important;
    font-size: 25px;
    text-align: center;
}
.gm-style-iw + div:after {
    content: "\00d7";
}
.gm-style-iw + div img {
    display: none;
}

//Shadow layer
.gm-style > div:first-child > div:nth-child(4) > div:nth-child(4) > div:first-child > div:first-child > div:nth-child(2) {
    width: 300px !important;
}

//Panel background layer
.gm-style > div:first-child > div:nth-child(4) > div:nth-child(4) > div:first-child > div:first-child > div:nth-child(4) {
    width: 300px !important;
    top: 0px !important;
    left: 0px !important;
}