<!DOCTYPE html>
<html lang="us">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Precious Plastic Map</title>
  <meta name="description" content="Precious Plastic Map">

  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <div id="map" class="map"></div>
  <div id="panel" class="panel">
    <div class="panel__section">
      <img class="logo" src="<%= require('./img/logo.png') %>">
    </div>

    <form class="search">
      <input id="search" type="text" class="search__input" placeholder="Search Precious Plastic">
      <i class="fa fa-search search__glass" aria-hidden="true"></i>
      <i id="close-search" class="fa fa-close search__close" aria-hidden="true"></i>
    </form>

    <div class="panel__form">
      <h3 class="panel__title">Filter</h3>
      <form>
        <div id="filters" class="panel__list"></div>
      </form>
    </div>
    <div class="panel__section">
      <input type="submit" class="btn btn-primary" value="ADD PIN">
    </div>
  </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.googleKey %>&callback=init"></script>
</body>
</html>
